@model Flenergy.Data.Models.EstateAdmin
@{
    ViewBag.Title = "EstateAdmin | AVS";
    var rowIndex = 1;
}


<div class="row">



</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Actions</h5>
                <div class="pull-right">
                    <div class="btn-group">

                        <a data-toggle="modal" class="btn btn-xs btn-white active" href="#modal-form">Add Estate Admin</a>



                        <div id="modal-form" class="modal fade" aria-hidden="true">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <div class="text-center">
                                        <h3 class="m-t-none m-b">Create an Estate Admin</h3>

                                        <p>Fill all forms correctly.</p>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row">
                                            <form role="form" enctype="multipart/form-data" asp-action="CreateAdmin" asp-controller="Admin">
                                                <div class="col-sm-6 b-r">

                                                    <div class="input-group m-b"><span class="input-group-addon">First Name</span> <input type="text" placeholder="first name..." asp-for="FirstName" class="form-control" required /></div>
                                                    <div class="input-group m-b"><span class="input-group-addon">Middle Name</span> <input type="text" placeholder="middle name..." asp-for="MiddleName" class="form-control" required /></div>
                                                    <div class="input-group m-b"><span class="input-group-addon">Address</span> <input type="text" placeholder="Address" asp-for="Address" class="form-control" required /></div>

                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon">State</span> <select asp-for="State" id="StateId" class="form-control select2-search__field" asp-items="@ViewBag.States" required>
                                                            <option selected value="">Please Select</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon">Estate</span> <select asp-for="EstateId" class="form-control select2-search__field" asp-items="@ViewBag.Estates" required>
                                                            <option selected value="">Please Select</option>
                                                        </select>
                                                    </div>


                                                    <div class="input-group m-b"><span class="input-group-addon">Email</span> <input type="email" placeholder="Email" asp-for="Email" class="form-control" required /></div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group m-b"><span class="input-group-addon">Last Name</span> <input type="text" placeholder="last name..." asp-for="LastName" class="form-control" required /></div>
                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon">Gender</span><select class="form-control" asp-for="Gender" required>
                                                            <option selected value="">Please Select</option>
                                                            <option value="Male" name="Male">Male</option>
                                                            <option value="Female" name="Male">Female</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group m-b"><span class="input-group-addon">Phone</span> <input type="number" pattern="^\d{4}\d{3}\d{4}$" placeholder="Phone" asp-for="PhoneNo" class="form-control" required /></div>
                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon">LGA</span>  <select asp-items='@(new SelectList(string.Empty, "LocalGovernmentName", "LocalGovernmentName"))' asp-for="LGA" id="lgaId" class="form-control select2-search__field" required></select>
                                                    </div>
                                                    <div class="input-group m-b"><span class="input-group-addon">Password</span> <input type="password" placeholder="Password" asp-for="Password" class="form-control" required /></div>
                                                </div>

                                                <div class="text-center">


                                                    <input type="submit" value="Create" class="form-control btn  btn-primary" />
                                                </div>



                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div id="myModal" class="modal fade" aria-hidden="true">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <div class="text-center">
                                        <h3 class="m-t-none m-b">Edit a Estate Admin</h3>

                                        <p>Fill all forms correctly.</p>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row">
                                            <form role="form" enctype="multipart/form-data">
                                                <div class="col-sm-6 b-r">

                                                    <div class="input-group m-b"><span class="input-group-addon">First Name</span> <input type="text" placeholder="first name..." id="Fi" asp-for="FirstName" class="form-control" required /></div>
                                                    <div class="input-group m-b"><span class="input-group-addon">Middle Name</span> <input type="text" placeholder="middle name..." id="Mi" asp-for="MiddleName" class="form-control" required /></div>
                                                    <div class="input-group m-b"><span class="input-group-addon">Address</span> <input type="text" placeholder="Address" id="Ad" asp-for="Address" class="form-control" required /></div>

                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon">State</span> <select id="state" asp-for="State" class="form-control select2-search__field" asp-items="@ViewBag.States" required>
                                                            <option selected value="">Please Select</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon">Estate</span> <select class="form-control select2-search__field" asp-for="EstateId" asp-items="@ViewBag.Estates" id="EditEstateSelect" disabled required>
                                                            <option selected id="init">Please Select Estate</option>
                                                        </select>
                                                    </div>
                                                    <input type="hidden" id="adId" asp-for="EstateAdminId" class="form-control" required />
                                                    <input type="hidden" id="EstateId" asp-for="EstateId" class="form-control" required />
                                                    <input type="hidden" id="stateID" asp-for="State" class="form-control" required />
                                                    <input type="hidden" id="lgaID" asp-for="LGA" class="form-control" required />



                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group m-b"><span class="input-group-addon">Last Name</span> <input id="La" type="text" placeholder="last name..." asp-for="LastName" class="form-control" required /></div>
                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon">Gender</span><select id="Ge" class="form-control" asp-for="Gender" required>
                                                            <option selected value="">Please Select</option>
                                                            <option value="Male" name="Male">Male</option>
                                                            <option value="Female" name="Male">Female</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group m-b"><span class="input-group-addon">Phone</span> <input type="number" pattern="^\d{4}\d{3}\d{4}$" placeholder="Phone" id="Ph" asp-for="PhoneNo" disabled class="form-control" required /></div>
                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon">LGA</span>  <select asp-items='@(new SelectList(string.Empty, "LocalGovernmentName", "LocalGovernmentName"))' id="Lga" asp-for="LGA" class="form-control select2-search__field" required></select>
                                                    </div>
                                                    <div class="input-group m-b"><span class="input-group-addon">Email</span> <input id="Em" type="email" placeholder="Email" asp-for="Email" class="form-control" required disabled /></div>
                                                </div>

                                                <div class="text-center">


                                                    <input type="submit" value="Create" id="EditAdminBtn" class="form-control btn  btn-primary" />
                                                </div>



                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="categoryModal" class="modal fade" aria-hidden="true">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <div class="text-center">
                                        <h3 class="m-t-none m-b">Set Billin For <span id="categoryId" class="text-primary"></span></h3>

                                        <p>Fill all forms correctly.</p>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row">
                                            <form role="form" enctype="multipart/form-data">
                                                <div class="col-sm-6 b-r">

                                                    <div class="input-group m-b"><span class="input-group-addon">Name</span> <input type="text" placeholder="Category name..." id="categoryName" class="form-control" required /></div>
                                                    <div class="input-group m-b"><span class="input-group-addon">Amount</span> <input type="number" step="0.01" min="0" placeholder="Amount per kw... eg 24.87" id="categoryAmount" class="form-control" required /></div>

                                                    <div class="input-group m-b"><span class="input-group-addon"></span> <input type="submit" value="SaveChanges" class="form-control btn  btn-primary" id="categorySubmit" required /></div>
                                                    <input type="hidden" id="EstateIdforCategory" class="form-control" required />


                                                </div>
                                                <div class="col-sm-6">
                                                    <p>create Billing Category for <span id="categoryIdd" class="text-primary"></span></p>
                                                    <p class="text-center">
                                                        <a href="#"><i class="fa fa-sign-in big-icon"></i></a>
                                                    </p>
                                                </div>




                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>






                </div>
            </div>
        </div>

    </div>
</div>

<div class="row" id="hide">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>AVS Estate Admin</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Full Name</th>

                                <th>Email</th>
                                <th>Estate</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var admin in ViewBag.EstateAmins)
                            {

                                <tr class="gradeX">
                                    <td>
                                        @(rowIndex++)
                                    </td>
                                    <td>@admin.FullName</td>
                                    <td>
                                        @admin.Email
                                    </td>
                                    <td>
                                        @admin.Estate.EstateName
                                    </td>

                                    <td class="center">
                                        <form asp-action="DeleteAdmin" asp-controller="Admin" asp-route-id="@admin.EstateAdminId" method="post">
                                            <a onclick="editAdmin(@admin.EstateAdminId)" title="Edit"><i onclick="editProduct(@admin.EstateAdminId)" class="fa fa-pencil"></i></a>
                                            <button type="submit" onclick="return confirm('are you sure you want to delete the category : @admin.FullName')" title="delete"><i class="fa fa-trash-o"></i></button>
                                            <a onclick="billinCategory(@admin.EstateAdminId)" title="Create Billing Category For this Estate"><i onclick="billinCategory(@admin.EstateAdminId)" class="fa fa-btc"></i></a>
                                        </form>
                                    </td>

                                    @*<td class="center" title="Delete"><a onclick="deleteProduct(@estate.EstateId)"><i onclick="editProduct(@estate.EstateId)" class="fa fa-trash-o"></i></a></td>*@
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>SN</th>
                                <th>Full Name</th>
                               
                                <th>Email</th>
                                <th>Estate</th>

                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>


    <script>
        function edKeyPress() {
        $('#chckEmail').hide();
        var edValue = document.getElementById("email");
        var url = '@Url.Content("~/")' + "Estate/ExistingEmail";
        var ddlsource = edValue;
            $.getJSON(url, { Id: $(ddlsource).val() }, function (data) {
                var isExistEmail = data;
                if (isExistEmail === true) {
                    Email.checkValidity() == false;
                    $('#chckEmail').show();
                     var lblValue = document.getElementById("chckEmail");
    chckEmail.innerText = "Email Exists"
                }
                else {
                    Email.checkValidity() == true;
                    $('#chckEmail').hide();
                }
            });

    }

        function edValueKeyPress() {
          $('#chckNumber').hide();
        var edValue = document.getElementById("number");
        var url = '@Url.Content("~/")' + "Estate/ExistingNumber";
        var ddlsource = edValue;
            $.getJSON(url, { Id: $(ddlsource).val() }, function (data) {
                var isExistNumber = data;
                if (isExistNumber === true) {
                    Email.checkValidity() == false;
                    $('#chckNumber').show();
                     var lblValue = document.getElementById("chckNumber");
    chckEmail.innerText = "Phone Number Exists"
                }
                else {
                    Email.checkValidity() == true;
                   $('#chckNumber').hide();
                }
            });

    }

    </script>

    <script>


        $('#EditfileUpload').click(function (e) {
            const isValidEmail = Email.checkValidity();
            const isValidPhone = PhoneNo.checkValidity();

            if ($('#Name').val() === "" || $('#Address').val() === "" || $('#PhoneNo').val() === "" || $('#LogoUrl').val() === "" || $('#Email').val() === "" || !isValidEmail || !isValidPhone) {
                setTimeout(function () {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 10000
                    };
                    toastr.warning('please check for adjustments', 'Form is not valid');

                }, 1300);
                return false;
            }
            if (!isValidEmail) {

            }
            else {
                EditEstate();
            }

        });

        function EditEstate() {
            var Estate = new Object();
            Estate.EstateId = $('#EstateId').val();
            Estate.EstateName = $('#Name').val();
            Estate.Address = $('#Address').val();
            Estate.LogoUrl = $('#LogoUrl').val();
            Estate.Email = $('#PhoneNo').val();


            $.ajax({
                url: "/Estate/EditEstate",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(Estate),
                async: false,
                contentType: "application/json; charset =utf-8",

                success: function (response) {


                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 10000
                        };
                        toastr.success('congratulation', 'Updated successfully');

                    }, 1300);
                    alert("Estate was updated successfully...");
                    window.location.href = "/Estate/Estate"
                    //$.ajax({
                    //    url: "/Estate/Estate",
                    //    type: "GET",
                    //    dataType: "json",
                    //    async: true,
                    //    contentType: "application/json; charset =utf-8",
                    //});
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }
    </script>
    <script>


        $('#categorySubmit').click(function (e) {


            if ($('#categoryName').val() === "" || $('#categoryAmount').val() === "") {
                setTimeout(function () {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 10000
                    };
                    toastr.warning('Form should not be empty', 'Form is not valid');

                }, 1300);
                return false;
            }

            else {
                CreateEstateCategory();
            }

        });

        function CreateEstateCategory() {
            var BillingCategory = new Object();
            BillingCategory.EstateId = $('#EstateIdforCategory').val();
            BillingCategory.BillingCategoryName = $('#categoryName').val();
            BillingCategory.BillingAmount = $('#categoryAmount').val();



            $.ajax({
                url: "/Estate/CreateBillingCategory",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(BillingCategory),
                async: false,
                contentType: "application/json; charset =utf-8",

                success: function (response) {


                    //setTimeout(function () {
                    //    toastr.options = {
                    //        closeButton: true,
                    //        progressBar: true,
                    //        showMethod: 'slideDown',
                    //        timeOut: 10000
                    //    };
                    //    toastr.success('congratulation', 'data was successfully');

                    //}, 1300);
                    alert("Category was added successfully...");
                    window.location.href = "/Estate/Estate"
                    //$.ajax({
                    //    url: "/Estate/Estate",
                    //    type: "GET",
                    //    dataType: "json",
                    //    async: true,
                    //    contentType: "application/json; charset =utf-8",
                    //});
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }
    </script>



    <script>

        function editAdmin(id) {
            $('#myModal').modal({ show: false })
              var url = '@Url.Content("~/")' + "Admin/GetEstates";
              var url1 = '@Url.Content("~/")' + "Admin/GetStates";
              var url2 = '@Url.Content("~/")' + "Admin/GetLga";
            //Window.location.href = "/Estate/EditEstate/" + id
            $.ajax({
                url: '/Admin/EditAdmin/' + id, // The method name + paramater
                success: function (data) {

                    document.getElementById("Fi").value = data.firstName;
                    document.getElementById("La").value = data.lastName;
                    document.getElementById("Mi").value = data.middleName;
                    document.getElementById("Ph").value = data.phoneNo;
                    document.getElementById("Em").value = data.email;
                    document.getElementById("Ad").value = data.address;
                    document.getElementById("Ge").value = data.Gender;

                    document.getElementById("EstateId").value = data.estateId;
                    document.getElementById("adId").value = data.estateAdminId;
                    document.getElementById("stateID").value = data.state;
                    document.getElementById("lgaID").value = data.lga;

                      var ddlsource = "#EstateId";
                      var ddlsource1 = "#stateID";
                      var ddlsource2 = "#lgaID";
                    $.getJSON(url,{ Id: $(ddlsource).val() }, function (desc) {
                        var items = "";

                        $.each(desc, function (i, row) {
                            items += "<option value= '" + row.value + "'>" + row.text + "</option>";
                        });
                        $('#EditEstateSelect').html(items);
                    });
                    $.getJSON(url1, { Id: $(ddlsource1).val() }, function (desc) {
                        var items = "";

                        $.each(desc, function (i, row) {
                            items += "<option value= '" + row.value + "'>" + row.text + "</option>";
                        });
                        $('#state').html(items);
                    });
                    $.getJSON(url2, { Id: $(ddlsource2).val() }, function (desc) {
                        var items = "";

                        $.each(desc, function (i, row) {
                            items += "<option value= '" + row.value + "'>" + row.text + "</option>";
                        });
                        $('#Lga').html(items);
                    });


                    $('#myModal').modal('show');
                }
            });
        }
    </script>



    <script>


        $('#EditAdminBtn').click(function (e) {
            const isValidEmail = Email.checkValidity();
            const isValidPhone = PhoneNo.checkValidity();

            if ($('#Name').val() === "" || $('#Fi').val() === "" || $('#Mi').val() === "" || $('#La').val() === "" || $('#Ad').val() === "" || $('#Ge').val() === "") {
                setTimeout(function () {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 10000
                    };
                    toastr.warning('please check for adjustments', 'Form should not be empty');

                }, 1300);
                return false;
            }
        
            else {
                EditAdmins();
            }

        });

        function EditAdmins() {
            var EstateAdmin = new Object();
            EstateAdmin.EstateId = $('#EstateId').val();
            EstateAdmin.EstateAdminId = $('#adId').val();
            EstateAdmin.FirstName = $('#Fi').val();
            EstateAdmin.LastName = $('#La').val();
            EstateAdmin.MiddleName = $('#Mi').val();
            EstateAdmin.PhoneNo = $('#Ph').val();
            EstateAdmin.Email = $('#Em').val();
            EstateAdmin.Address = $('#Ad').val();
            EstateAdmin.Gender = $('#Ge').val();
            EstateAdmin.State = $('#stateID').val();
            EstateAdmin.LGA = $('#lgaID').val();


            $.ajax({
                url: "/Admin/EditAdmin",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(EstateAdmin),
                async: false,
                contentType: "application/json; charset =utf-8",

                success: function (response) {

                    if (response === true) {
                        SuccessAlert();
                         window.location.href = "/Estate/Estate"
                    }
                    else {
                           alert("failed to update admin.")
                    }
                 
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }

        function SuccessAlert() {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 10000
                };
                toastr.success('congratulation', 'Updated successfully');

            }, 1300);
        }
    </script>

    <script>

        function billinCategory(id) {
            $('#categoryModal').modal({ show: false })
            //Window.location.href = "/Estate/EditEstate/" + id
            $.ajax({
                url: '/Estate/EstateBillingCategory/' + id, // The method name + paramater
                success: function (data) {
                    document.getElementById("EstateIdforCategory").value = data.estateId;
                    document.getElementById("categoryId").innerText = data.estateName;
                    document.getElementById("categoryIdd").innerText = data.estateName;
                    document.getElementById("categoryName").value = ""
                    document.getElementById("categoryAmount").value = ""
                    categoryId.innerText = data.estateName;
                    categoryIdd.innerText = data.estateName;


                    $('#categoryModal').modal('show');
                }
            });
        }
    </script>
    <script>


        $('#fileUpload').click(function (e) {
            const isValidEmail = email.checkValidity();
            const isValidPhone = number.checkValidity();

            if ($('#name').val() === "" || $('#address').val() === "" || $('#number').val() === "" || $('#upload').val() === "" || $('#email').val() === "" || !isValidEmail || !isValidPhone) {
                setTimeout(function () {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 10000
                    };
                    toastr.warning('please check for adjustments', 'Form is not valid');

                }, 1300);
                return false;
            }
            if (!isValidEmail) {

            }
            else {
                AddEstate();
            }

        });

        function AddEstate() {
            var Estate = new Object();
            Estate.EstateName = $('#name').val();
            Estate.Address = $('#address').val();
            Estate.LogoUrl = $('#upload').val();
            Estate.Email = $('#email').val();
            Estate.PhoneNo = $('#number').val();


            $.ajax({
                url: "/Estate/Create",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(Estate),
                async: false,
                contentType: "application/json; charset =utf-8",

                success: function (response) {


                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 10000
                        };
                        toastr.success('congratulation', 'Saved successfully');

                    }, 1300);
                    alert("Estate was added successfully...");
                    window.location.href = "/Estate/Estate"
                    //$.ajax({
                    //    url: "/Estate/Estate",
                    //    type: "GET",
                    //    dataType: "json",
                    //    async: true,
                    //    contentType: "application/json; charset =utf-8",
                    //});
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }
    </script>


    <script>

        function deleteProduct(id) {
            $.ajax({
                url: '/Estate/Delete/' + id, // The method name + paramater
                success: function (data) {
                    document.getElementById("edit").click();
                }
            });
        }
    </script>


    <script>
    $(function () {
        $('#StateId').change(function () {
            var url = '@Url.Content("~/")' + "Estate/getLgabyStatesId";
            var ddlsource = "#StateId";
            $.getJSON(url, { Id: $(ddlsource).val() }, function (data) {
                var items = "";
                $('#lgaId').empty();
                $.each(data, function (i, row) {
                    items += "<option value= '" + row.value + "'>" + row.text + "</option>";
                });
                $('#lgaId').html(items);
            });
        });
    });


    </script>

    @if (ViewBag.added == "Yes")
    {
        <script>
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 10000
                };
                toastr.success('Success', 'You updated an estate admin');

            }, 1300);
        </script>


    }
}



